{% extends "adminlte2/base.html" %}
{% load adminlte_tags %}

{% block title %}
Tickets - Create
{% endblock title %}

{% block page_name %}
Create Ticket
{% endblock page_name %}

{% block page_description %}
Create a new ticket for project
{% endblock page_description %}

{% block breadcrumbs %}
<ol class = "breadcrumb">
  <li>
    <a href = {% url "project_list" %}>
      <i class = "fa fa-dashboard"></i> Home
    </a>
  </li>
  <li>
    <a href = {% url "project_list" %}>
      <i class = "fa fa-archive"></i> Projects
    </a>
  </li>
  <li>
    <a href = "{% url "project_detail" project.pk%}">
    {{project.name}}
    </a>
  </li>
  <li>
    <a href = "{% url "project_detail" project.pk%}">
    <i class = "fa fa-ticket"></i> Tickets
    </a>
  </li>
  <li class = "active">New</li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<div class = "box box-solid box-primary">
  <div class = "box-header with-border">
    <h3 class = "box-title">Create Ticket</h3>
  </div>
  <div class = "box-body">
    <form action = "" method = "post">
      {% csrf_token %}
      {%render_form form%}
      <button type = "submit" class = "btn btn-success">Create</button>
    </form>
  </div>
</div>
{% endblock content %}